<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<groups>

<run>

<exclude name="Two"></exclude>

</run>


</groups>
  <test thread-count="5" name="Test">
    <classes>
    <class name="Pack1.c1"/>
      <class name="Pack1.C2"/>
      <class name="Pack1.C3"/>
      <class name="Pack2.C4"/>
      <class name="Pack2.C5"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
